---
import Icon from "astro-icon";
import { Image } from "astro:assets";

const services = [
  {
    name: "Residential Work",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad commodi rem quidem dolorem nemo! Doloremque adipisci beatae nisi molestias.",
    link: "/",
    icon: "fa-solid:building",
  },
  {
    name: "Commercial Work",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad commodi rem quidem dolorem nemo! Doloremque adipisci beatae nisi molestias.",
    link: "/",
    icon: "ic:baseline-house",
  },
];
---

<section class="px-edge py-10 lg:py-20">
  <div class="mx-auto max-w-screen-2xl">
    <div
      class="flex flex-col items-center justify-between gap-10 text-center lg:flex-row lg:gap-20 lg:text-left"
    >
      <div class="shrink-0 grow">
        <h6
          class="p-4 text-lg
          font-bold
           uppercase text-text-subheading before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
        >
          What We Do
        </h6>
        <h2
          class="relative z-50 mt-2 text-6xl font-bold
            tracking-wide before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-10 before:w-48 before:bg-primary"
        >
          Our Services
        </h2>
      </div>
      <div>
        <p class="max-w-xl text-text-dark">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi
          reiciendis perspiciatis eveniet qui aliquam deleniti deserunt fuga
          molestias sint.
        </p>
      </div>
    </div>
    <div
      class="mt-10 flex flex-col items-center justify-between gap-10 lg:flex-row"
    >
      <div class="max-w-2xl shrink grow-0">
        <Image
          class="[clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)]"
          src={import("@imgs/testimonials/rafhia-foster.jpg")}
          alt="alt"
        />
      </div>
      <div class="shrink-0 grow">
        <div class="space-y-7">
          {
            services.map((service) => (
              <a class="block" href={service.link} aria-label={service.name}>
                <div class="group ml-auto w-full max-w-2xl -skew-x-3 border border-borderColor px-12 py-10 text-text-dark transition-all duration-300 hover:border-secondary hover:bg-secondary hover:text-text-light lg:px-16 lg:py-14">
                  <div class="skew-x-3">
                    <div class="">
                      <Icon
                        class="text-primary"
                        name={service.icon}
                        size={45}
                      />
                      <h4 class="mt-7 text-2xl font-black uppercase tracking-wide text-secondary transition-all duration-300 group-hover:text-text-light">
                        {service.name}
                      </h4>
                      <p class="mt-7 ">{service.description}</p>
                    </div>
                    <Icon
                      class="ml-auto mt-7 text-primary"
                      name="fluent:arrow-right-12-filled"
                      size={30}
                    />
                  </div>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
